[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
click = "*"
flask-login = "*"
requests = "*"
celery = {extras = ["redis"]}

[dev-packages]
pylint = "*"
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
